<div id="root">

<div id="side">	
    <p style="color:#5d4037; font-size: 25px;">Feeds:</p>
</div>

<div id="first">
<% @questions.each do |question| %>
    <%= render 'question', :question => question %> 
<% end %>
</div>

<div id="vertical_line">	
</div>

<div id="second">
<ul class="collection">
	<% @users.each do |user| %>
	<% if user != current_user %>
    <li class="collection-item avatar">
    <%= link_to user_profile_path(user.id) do %>
    <%= image_tag user_image_url(user),class: "avatar circle"%>
    <% end %> 
    <strong><span><%= link_to  user.name, user_profile_path(user.id),class: "title user"  %></span></strong>
    <p style="color:#5d4037"><%= user.description %></p>
    </li>
    <% end %>
    <% end %>
  </ul>
</div>

</div>


