<div class="containerx">
<div id="pic_edit">
<div id="profile_pic">
    <%= image_tag user_image_url(@user),class: "avatar"%>
</div>
<div id="name">
    <span><%= @user.name %></span>
    <% if @user.description == "" || @user.description.nil? %>
    <% else %>
          <p>(<%=@user.description%>)</p>
    <% end %>
    <div>
    <div class="chip" style="background-color:  #3e2723;">
        <p style="color:white;"> Following: <%=@user.followees.count%> </p>
    </div>
    <div class="chip" style="background-color:  #3e2723;">
        <p style="color:white;">Followers : <%=@user.followers.count%></p>
    </div>
    <%if user_signed_in? && @user.id == current_user.id %>
    <a href="#modal1" class="waves-effect waves-light btn-floating btn-medium brown darken-4"><i class="material-icons">mode_edit</i></a>
    <% end %>
    </div>
    <div id="following">
    <% if user_signed_in? &&  @user.id != current_user.id %>
      <%= form_for(@user, :url => "/users/follow" )do|f|%>
        <%=  hidden_field_tag 'profile_id', @user.id %>
         <% if user_following @user %>
            <div class="waves-effect waves-light btn action" style="background-color:  #3e2723;">
            <%= f.submit "Unfollow" %>
            </div>
         <%else%>
            <div class="waves-effect waves-light btn action" style="background-color:  #3e2723;">
              <%= f.submit "Follow" %>
             </div>
         <%end%>
        <%end%>
    <%end%>
    </div>
     </div>
</div>



<div id="horizontal_line"></div>

<div id="quesans">

<div id="side_links"><ul>
<li><a href="/users/<%=@user.id%>">Answers : <%=answers_given(@user).count%></a></li>
<li><a href="/users/<%=@user.id%>/ques">Questions : <%=questions_asked(@user).count%></a></li>
</ul></div>

<div id="target2">
      <section id="userques">
        <% questions_asked(@user).each do |question|%>
          <%= render 'questions', :question => question %> 
          <div id="horizontal_line"></div>
        <% end %>
      </section>
</div>

</div>

<div id="modal1" class="modal">
  <div class="modal-content">
    <%= render 'form' %>
  </div>
</div>
</div>

<script>
   $(document).ready(function(){
    $('.modal').modal();

  })
</script>


    